.FILL_BLANK_SUBJECT {
    margin-left:  6;
    margin-right:  6;
}
.JUDGEMENT_SUBJECT {
    margin-left:  100;
}
.SINGLE_SELECT_SUBJECT {
    margin-left:  100;
}
.MULTI_SELECT_SUBJECT {
    margin-left:  100;
}
.ANSWER_QUESTION_SUBJECT {

}
